@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Problema 1</h1>
    <form asp-action="Problema1" method="post">
        <label>Ingrese el numero entero para calcular su cuadrado</label>
        <input type="text" name="num" />
        <input type="submit" name="boton" value="Enviar" />
    </form>
</div>
