@{
    ViewData["Title"] = "Problema 3";
}

<div class="text-center">
    <h1 class="display-4">Problema 3</h1>
    <form asp-action="ConsumirAPI" method="post">
        <label>Click aqui para ver el listado de provincias y su id</label>
        <input type="submit" name="boton" value="Ver" />
    </form>
</div>