@{
    ViewData["Title"] = "Problema 4";
}

<div class="text-center">
    <h1 class="display-4">Problema 4</h1>
    <form asp-action="CalculoProblema4" method="post">
        <label>Ingrese la cantidad de km</label>
        <input type="text" name="num1" />
        <label>Ingrese la cantidad de litros</label>
        <input type="text" name="num2" />
        <input type="submit" name="boton" value="Enviar" />
    </form>
</div>