@{
    ViewData["Title"] = "Problema 2";
}

<div class="text-center">
    <h1 class="display-4">Problema 2</h1>
    <form asp-action="CalculoProblema2" method="post">
        <label>Ingrese dos numeros para dividir</label>
        <input type="text" name="num1" />
        <input type="text" name="num2" />
        <input type="submit" name="boton" value="Enviar" />
    </form>
</div>